body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(229, 229, 229); */
}

.header {
  height: 60px;
  width: 100%;
  background-color: rgb(101, 121, 131);
}
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.nav-brand {
  padding: 8px;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

/* ul li {
  list-style: none;
} */

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  padding: 8px;
  margin: 0 5px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.main {
  background-color: rgb(109, 123, 130);
  color: white;
  background-image: url("images/hand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us {
  background-color: rgb(68, 75, 79);
  color: white;
}

.about-content {
  padding: 30px 20px;
}

.about-heading {
  text-align: center;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services {
  background-color: rgb(109, 123, 130);
  color: white;
  padding: 30px 20px;
}
.service-heading {
  text-align: center;
}
.service-links {
  line-height: 3;
}

.contact {
  background-color: rgb(87, 90, 91);
  color: white;
  padding: 30px 20px;
}

.form-heading {
  text-align: center;
}
.filed {
  padding: 10px 0;
}

label {
  font-weight: 600;
}

button {
  border: 1px solid;
  border-radius: 5px;
  font-weight: 600;
}

.footer {
  background-color: rgb(68, 75, 79);
  text-align: center;
  font-weight: 100;
  font-style: italic;
  color: white;
  padding: 10px 0;
}

.footer-content {
  margin: 0;
}
